<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epam.android.demo.social"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.epam.android.demo.common.CommonApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ApplicationTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ModelSampleActivity" />
        <activity android:name=".ArrayModelSampleActivity" />
        <activity android:name=".ArrayModelFromXMLSampleActivity" />
        <activity android:name=".TestAsyncTaskActivity" />
        <activity android:name=".TestListViewActivity" />
        <activity android:name=".MultiSampleActivity" />
        <activity android:name="com.epam.android.demo.layouts.MyLayoutActivity" />
        <activity android:name="com.epam.android.demo.layouts.TabsActivity" />
        <activity android:name="com.epam.android.demo.layouts.FirstTabActivity" />
        <activity android:name="com.epam.android.demo.layouts.SecondTabActivity" />
        <activity android:name="com.epam.android.demo.layouts.ThirdTabActivity" />
        <activity android:name="com.epam.android.demo.layouts.OtherActivity" />
    </application>

</manifest>